
  <% entries.each do |entry| %>
  <div class="panel panel-default clearfix">
  <div class="panel-heading">
  <% if @edit == true %>
    <div class="text-right">
    <i class="fa fa-times wo-ex-remove" data-id="<%= entry[:workout_exercise_id] %>"></i>
    </div>
  <% end %>
    <h3><%= entry[:exercise].name %></h3>
  </div>
    <div class="wo-exercise-img-container">
    <%= image_tag entry[:exercise].photo_url, class: "wo-exercise-img" %>
    </div>
    <ul>
    <li><%= entry[:exercise].description %></li>
    <li>Repetitions: <%= entry[:exercise].repetitions %></li>
    <li>Duration: <%= entry[:exercise].duration %></li>
    <li>Source: <%= entry[:exercise].source_url %></li>
  </div><!-- /.panel-default -->
  <% end %>



