<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>My saved workouts</h3>
        <table class="table table-condensed">
        <% @workouts.each do |workout| %>
          <tr>
          <td><%= link_to workout.name, workout_path(workout) %></td>
          <td class="text-right"><%= workout.duration %> minutes</td>
          </tr>
        <% end %>
        </table>
    </div>
    <div class="col-md-8">
      <h3>Exercises I've created</h3>
      <ul>
      <% @my_exercises.each do |exercise| %>
      <li><%= exercise.name %>
      | <%= exercise.seconds_duration %>
      | <%= exercise.repetitions %>
      | <%= exercise.description %>
      | <%= link_to "Edit", edit_exercise_path(exercise) %></li>

      <% end %>
      </ul>
    </div>
  </div>
</div>
