<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>
        <span class="fa fa-plus-square-o" id="plus-workout"></span>
        My saved workouts
      </h3>
      <div id="workout-form" style="display: none;">
        <div class="panel panel-default">
          <form class="form-inline" role="form" id="inline-workout-form">
            <span class="fa fa-times-circle" id="cncl-workout"></span>
            <div class="form-group">
            <input type="text" placeholder="Untitled Workout" class="form-control" name="workout_name" id="workout_name">
            </div>
            <button type="submit" class="btn btn-primary btn-xs">Save</button>
          </form>
        </div>
      </div>
        <table class="table table-condensed" id="workouts_table">
        <% @workouts.each do |workout| %>
          <tr>
          <td><%= link_to workout.name, workout_path(workout) %></td>
          <td class="text-right"><%= workout.duration %> minutes</td>
          </tr>
        <% end %>
        </table>
    </div>
    <div class="col-md-8">
      <h3>Exercises I've created</h3>
      <% @my_exercises.each do |exercise| %>
        <div class="exercise-container clearfix">
        <%= link_to "Delete", exercise_path(exercise), class: "btn btn-danger btn-xs exercise-buttons", method: "delete", data: { confirm: 'Are you sure you want to delete this exercise?' } %>
        <%= link_to "Edit", edit_exercise_path(exercise), class: "btn btn-primary btn-xs exercise-buttons"%>
          <h5>
          <%= exercise.name %>
          Reps: <%= exercise.repetitions %>
          Duration: <%= exercise.seconds_duration %> seconds
          </h5>

          <div class="exercise-thumbnail">
            <%= link_to edit_exercise_path(exercise) do %>
              <% if url = exercise.photo_url %>
                <%= image_tag(url, class: "exercise-thumb-img") %>
              <% else %>
              <img data-src="holder.js/100%x100" alt="holder" class="exercise-thumb-img">
              <% end %>
            <% end %>
          </div>
            <ul>
            <li><%= exercise.description %></li>
            <% if exercise.source_url != ""%>
              <li><em>Source: <%= exercise.source_url %></em></li>
            <% end %>
            </ul>
          Category: <%= exercise.category %>
        </div><!-- /.exercise-container -->
      <% end %>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
