<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>My saved workouts</h3>
        <table class="table table-condensed">
        <% @workouts.each do |workout| %>
          <tr>
          <td><%= link_to workout.name, workout_path(workout) %></td>
          <td class="text-right"><%= workout.duration %> minutes</td>
          </tr>
        <% end %>
        </table>
    </div>
    <div class="col-md-8">
      <h3>Exercises I've created</h3>
      <% @my_exercises.each do |exercise| %>
        <div class="exercise-container clearfix">
          <h5>
          <%= exercise.name %>
          Reps: <%= exercise.repetitions %>
          Duration: <%= exercise.seconds_duration %> seconds
          </h5>
          <div class="exercise-thumbnail">
            <%= link_to edit_exercise_path(exercise) do %>
              <% if url = exercise.photo_url %>
                <%= image_tag(url, class: "exercise-thumb-img") %>
              <% else %>
              <img data-src="holder.js/100%x100" alt="holder" class="exercise-thumb-img">
              <% end %>
            <% end %>
          </div>
            <ul>
            <li><%= exercise.description %></li>
            <% if exercise.source_url != ""%>
              <li><em>Source: <%= exercise.source_url %></em></li>
            <% end %>
            </ul>
          Category: <%= exercise.category %>
        </div><!-- /.exercise-container -->
      <% end %>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
