<div class="container">
  <% if @exercise.errors.any? %>
    <div id="error-explanation">
      <p><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</p>
      <ul>
        <% @exercise.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="panel panel-default">
      <h3 class="text-center">New Exercise</h3>
      <div class = "panel-body">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <%= form_for @exercise, url: {action: "create"}, class: "form", role: "form" do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :seconds_duration %>
            <%= f.number_field :seconds_duration, min: 0, class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :repetitions %>
            <%= f.number_field :repetitions, min: 0, class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :source_url %>
            <%= f.text_field :source_url, class: "form-control"%>
          </div>
          <div class="text-right">
            <%= f.submit "Create", class: "btn btn-default" %>
          </div>
          <% end %>
        </div>
        <div class="col-md-2"></div>
      </div> <!-- ./panel-body -->
    </div> <!-- /.panel -->
  </div> <!-- /.row -->
</div> <!-- /.container -->
